<ion-view view-title="양도">
  <ion-content class="padding">
    <div class="count-list">
      <div class="row header">
        <div class="col-area col-25">지역</div>
        <div class="col-head">6/29</div>
        <div class="col-head">6/30</div>
        <div class="col-head">7/1</div>
        <div class="col-head">7/2</div>
        <div class="col-head">7/3</div>
      </div>
      <div class="row">
        <div class="col-area col-25">충청북도</div>
        <div class="col-demo">123</div>
        <div class="col-demo">1</div>
        <div class="col-demo">12</div>
        <div class="col-demo">2</div>
        <div class="col-demo">0</div>
      </div>
      <div class="row">
        <div class="col-area col-25">충청북도</div>
        <div class="col-demo">123</div>
        <div class="col-demo">1</div>
        <div class="col-demo">12</div>
        <div class="col-demo">2</div>
        <div class="col-demo">0</div>
      </div>
      <div class="row">
        <div class="col-area col-25">충청북도</div>
        <div class="col-demo">123</div>
        <div class="col-demo">1</div>
        <div class="col-demo">12</div>
        <div class="col-demo">2</div>
        <div class="col-demo">0</div>
      </div>
      <div class="row">
        <div class="col-area col-25">충청북도</div>
        <div class="col-demo">123</div>
        <div class="col-demo">1</div>
        <div class="col-demo">12</div>
        <div class="col-demo">2</div>
        <div class="col-demo">0</div>
      </div>
    </div>
  </ion-content>
</ion-view>
