<ion-view view-title="양도">
  <ion-content class="padding">
    <div class="count-left">
      <div class="row header">
        <div class="col-head">지역</div>
      </div>
      <div class="row">
        <div class="col-area">경기북부</div>
      </div>
      <div class="row">
        <div class="col-area">경기남부</div>
      </div>
      <div class="row">
        <div class="col-area">충청</div>
      </div>
      <div class="row">
        <div class="col-area">강원</div>
      </div>
      <div class="row">
        <div class="col-area">호남</div>
      </div>
    </div>
    <div class="count-list">
      <div class="container" ng-bind-html="html">

      </div>
    </div>
  </ion-content>
</ion-view>
