<ion-view view-title="{{join[0].join_area}}">
  <ion-nav-buttons side="right">
    <a class="button" href="#/tab/teejoin/create">등록하기</a>
</ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in join" type="item-text-wrap" href="#/tab/teejoin/{{item.seqno}}">
        <div class="list-head">
          <h2>{{item.join_position}}</h2>
          <p>{{item.regist_date}}</p>
        </div>
        <div class="list-time">
          <h2>{{item.join_date}}</h2>
          <p>{{item.join_name}}</p>
        </div>
        <div class="list-price">
          <h2>{{item.join_price}}</h2>
          <p>{{item.join_hole}}홀</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
