<ion-view view-title="골프킹 로그인">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">아이디</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">비밀번호</span>
        <input type="password">
      </label>
    </div>
    <button class="button button-block button-energized" ng-click="login()">
      로그인
    </button>
    <button class="button button-block button-stable" ng-click="join()">
      새로 등록하기
    </button>
  </ion-content>
</ion-view>
