/* Empty. Add your own CSS if you like */
div.list-head {
    float:left;
    width: 40%;
    height: 100%;
}
div.list-time {
    float:left;
    width: 50%;
    height: 100%;
}
div.list-price {
    float:right;
    width: 9.9%;
    height: 100%;
}