/* Empty. Add your own CSS if you like */
div.list-head {
    float:left;
    width: 40%;
    height: 100%;
}
div.list-time {
    float:left;
    width: 50%;
    height: 100%;
}
div.list-price {
    float:right;
    width: 9.9%;
    height: 100%;
}

div.count-list div.col {
    text-align:center;
}
div.col-head {
    width: 90%;
    height: 30px;
    padding: 10px 3px;
    text-align: center;
}
div.col-area {
     padding: 8px 3px;
     margin: 5px;
    text-align: center;
 }
div.col-demo {
     padding: 8px 3px;
     margin: 5px;
     width: 90%;
     height: 40px;
     border: 1px solid #ddd;
     border-radius: 6px;
     background: #f7f7f7;
     text-align: center;
    vertical-align: middle;
 }